<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 d-flex ml-auto  justify-content-center">
      <div class=" align-items-center">

      <!-- Come back and add form specifications -->
      <form [formGroup]="skeleForm" layout-align="center center" class="card text-center justify-content-center" (ngSubmit)="onSubmit()">
        <h2 class="card-header  text-center">
          Login
        </h2>
        <div class="form-group card-body text-center justify-content-center">

        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control form-control-lg" [ngClass]="{ 'is-invalid': submitted && form.username.errors }"/>
        <div *ngIf="submitted && form.username.errors" class="invalid-feedback">
            <div *ngIf="form.username.errors.required">Username is required</div>
        </div>



          <label for="password">Password</label>
          <input type="password" formControlName="password" class="form-control form-control-lg" [ngClass]="{ 'is-invalid': submitted && form.password.errors }"  />
          <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
            <div *ngIf="form.password.errors.required">Password is required</div>
            <div *ngIf="form.password.errors.minlength">Password must be at least 8 characters</div>
          </div>

        </div>

        <div class="form-group">
          <button class="btn btn-primary">Login As Super User</button>
          <button class="btn btn-primary">Login As Sub User</button>
        </div>
      </form>
      <button class="btn btn-primary" routerLink="/home" routerLinkActive="active">Home</button>
      <button class="btn btn-primary" routerLink="/register" routerLinkActive="active">Don't have an account? Register Here</button>


      <br>
    </div>
  </div>

  </div>
</div>
