<div class="jumbotron2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 d-flex ml-auto justify-content-center">
        <div class=" align-items-center">
          <!-- Come back and add form specifications -->
          <form [formGroup]="passwordForm" layout-align="center center" class="card text-center justify-content-center" (ngSubmit)="onSubmit()">
            <h2 class="card-header oswald-head text-center"> Password Change </h2>
            <div class="form-group card-body text-center justify-content-center"> <input type="password" formControlName="password" placeholder="Current Password" class="form-control form-control-lg" [ngClass]="{ 'is-invalid': submitted && form.password.errors }" />
              <div *ngIf="form.password.errors" class="invalid-feedback">
                <div *ngIf="form.password.errors.required">Answer is required</div>
              </div> <br /> <input type="password" formControlName="newPassword" placeholder="New Password" class="form-control form-control-lg" [ngClass]="{ 'is-invalid': submitted && form.password.errors }" />
              <div *ngIf="form.newPassword.errors" class="invalid-feedback">
                <div *ngIf="form.newPassword.errors.required">Answer is required</div>
              </div> <br /> <input type="password" formControlName="passConf" placeholder="Confirm New Password" class="form-control form-control-lg" [ngClass]="{ 'is-invalid': submitted && form.passConf.errors }" />
              <div *ngIf="form.passConf.errors" class="invalid-feedback">
                <div *ngIf="form.passConf.errors.required">Answer is required</div>
                <div *ngIf="notMatch">Passwords Do Not Match</div>
              </div>
            </div> <br />
            <div class="formGroup"> <button class="btn btn-main">Change Password</button> </div> <br />
          </form>
        </div>
      </div>
    </div>
  </div>
