<ng-container *ngIf="loaded==false">
  <div class="">
    <div class="lds-ring centered">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ng-container>
<div *ngIf="loaded">
  <div *ngIf="loaded">
    <form [formGroup]="ccwForm" layout-align="center center" class="card text-center justify-content-center" (ngSubmit)="onSubmit()">
      <h2 class="card-header oswald-head text-center"> Please Fill Out All Fields </h2>
      <div class="row justify-content-center">
        <h4 class="text-center">This is the information required for each field<br />Please follow accordingly</h4>
      </div>
      <div class="row">
        <div class="col-2">
          <h5>Constraints</h5>
          <p>List constraints precluding compliance with the original requirement.</p>
        </div>
        <div class="col-2">
          <h5>Objective</h5>
          <p>Define the objective of the original control; identify the objective met by the compensating control.<p>
        </div>
        <div class="col-2">
          <h5>Identified Risk</h5>
          <p>Identify any additional risk posed by the lack of the original control.</p>
        </div>
        <div class="col-2">
          <h5>Compensating Controls</h5>
          <p>Define the compensating controls and explain how they address the objectives of the original control and the increased risk, if any.</p>
        </div>
        <div class="col-2">
          <h5>Testing of Controls</h5>
          <p>Define how the compensating controls were validated and tested.</p>
        </div>
        <div class="col-2">
          <h5>Maintence of Controls</h5>
          <p>Define process and controls in place to maintain compensating controls.</p>
        </div>
      </div>
      <div class="row jutify-content-center">
        <div class="col-1">
          </div>
      <div class="col-10">
      <div class="form-group card-body justify-content-center">
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
          <ul>
            <ng-container *ngFor="let question of questions; let i = index">
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <h5 class="oswald">{{question.question._id}}</h5>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="row">

                    <div class="col-4">
                      <label for="question.question._id+'_'+headers[0]">{{headers[0]}}</label>
                      <textarea type="text" class="ccw-field" [formControlName]="question.question._id+'_'+headers[0]"></textarea>
                    </div>
                    <div class="col-4">
                      <label for="question.question._id+'_'+headers[0]">{{headers[1]}}</label>
                      <textarea type="text" class="ccw-field" [formControlName]="question.question._id+'_'+headers[1]"></textarea>
                    </div>
                    <div class="col-4">
                      <label for="question.question._id+'_'+headers[0]">{{headers[2]}}</label>
                      <textarea type="text" class="ccw-field" [formControlName]="question.question._id+'_'+headers[2]"></textarea>
                    </div>
                  </div>
                  <br />
                  <div class="row">

                    <div class="col-4">
                      <label for="question.question._id+'_'+headers[0]">{{headers[3]}}</label>
                      <textarea type="text" class="ccw-field" [formControlName]="question.question._id+'_'+headers[3]"></textarea>
                    </div>
                    <div class="col-4">
                      <label for="question.question._id+'_'+headers[0]">{{headers[4]}}</label>
                      <textarea type="text" class="ccw-field" [formControlName]="question.question._id+'_'+headers[4]"></textarea>
                    </div>
                    <div class="col-4">
                      <label for="question.question._id+'_'+headers[0]">{{headers[5]}}</label>
                      <textarea type="text" class="ccw-field" [formControlName]="question.question._id+'_'+headers[5]"></textarea>
                    </div>
                  </div>


                </ng-template>
              </ngb-panel>
            </ng-container>
          </ul>
        </ngb-accordion>
      </div>
      </div>
      </div>
      <div class="form-group"> <button class="btn btn-main">Submit</button> </div>
    </form>
    <div class="sticky float-right"> <button (click)="onSave()" class="btn btn-acclight">Save</button> </div>
    <div *ngIf="withCCW"> </div>
  </div>
