<ng-container *ngIf="loaded==false">
<div class="">
<div class="lds-ring centered"><div></div><div></div><div></div><div></div></div>
</div>

</ng-container>


<div *ngIf="loaded">
  <div class="jumbotron3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12  ml-auto  justify-content-center">
          <div class=" align-items-center">
            <h2 class="text-center oswald-head">Account Details</h2>
            <br />
          </div>

          <hr />
          <div class="d-flex">
            <div class="col-2">

            </div>
            <div class="col-md-8 justify-content-center">
              <br />
              <div class="card">
                <h4 class="card-header text-center">Personal Details</h4>
                <div class="d-flex justify-content-center">

                  <div class="col-6">
                    <br />
                    <div class="d-flex justify-content-center">
                      <h5 class="text-center">First Name:&nbsp;</h5>
                      <h5 class="text-center">{{superinfo.fname}}</h5>
                    </div>
                    <br />
                    <div class="d-flex justify-content-center">
                      <h5 class="text-center">Last Name:&nbsp;</h5>
                      <h5 class="text-center">{{superinfo.lname}}</h5>
                    </div>
                    <br />
                  </div>
                  <div class="col-6" style="border-left: grey solid 1px;">
                    <br />
                    <div class="d-flex justify-content-center">
                      <h5 class="text-center">Email:&nbsp;</h5>
                      <h5 class="text-center">{{superinfo.email}}</h5>
                    </div>
                    <br />
                    <div class="d-flex justify-content-center">
                      <h5 class="text-center">Telephone:&nbsp;</h5>
                      <h5 class="text-center">{{superinfo.telephone}}</h5>
                    </div>
                    <br />
                  </div>


                </div>
                <br />
                <div class="justify-content-center">
                  <h5 class="text-center">Password: **********</h5>
                  <p class="text-center"><a routerLink="password">Change Password</a></p>
                </div>

                <h4 class="card-header text-center">Company Details</h4>
                <div class="d-flex justify-content-center">

                  <div class="col-6">
                    <br />
                    <div class="d-flex justify-content-center">
                      <h5 class="text-center">Address:&nbsp;</h5>
                      <h5 class="text-center">{{superinfo.address}}</h5>
                    </div>
                    <br />
                    <div class="d-flex justify-content-center">
                      <h5 class="text-center">Last Name:&nbsp;</h5>
                      <h5 class="text-center">{{superinfo.lname}}</h5>
                    </div>
                    <br />
                  </div>
                  <div class="col-6" style="border-left: grey solid 1px;">
                    <br />
                    <div class="d-flex justify-content-center">
                      <h5 class="text-center">Email:&nbsp;</h5>
                      <h5 class="text-center">{{superinfo.email}}</h5>
                    </div>
                    <br />
                    <div class="d-flex justify-content-center">
                      <h5 class="text-center">Telephone:&nbsp;</h5>
                      <h5 class="text-center">{{superinfo.telephone}}</h5>
                    </div>
                    <br />
                  </div>

                </div>
                <br />
                <div class="justify-content-center">
                  <h4 class="card-header text-center">Subusers</h4>
                    <br />
                  <ng-container *ngIf="subs.length==0; ">
                    <h5 class="text-center">No Subusers</h5>
                  </ng-container>

                  <ng-container *ngIf="subs.length>0">

                    <ng-container *ngFor="let sub of subs; let i = index">
                      <h5 class="text-center">{{sub.fname}} {{sub.lname}}</h5>
                    </ng-container>
                  </ng-container>
                  <p class="text-center"><a class="btn btn-acclight" id="regbutton" routerLink="./subuser" role="button">Add Subuser</a></p>
                </div>
              </div>
            </div>
            <div class="col-2">
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
