<div *ngIf="loaded">
<div class="jumbotron2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12  ml-auto  justify-content-center">
        <div class=" align-items-center">
          <h2 class="text-center oswald-head">Account Details</h2>
          <br/>
          </div>

          <hr/>
          <div class="d-flex">
          <div class="col-1">

          </div>
        <div class="col-md-10 justify-content-center">
            <h4 class="text-center oswald">SuperUser Details</h4>
            <br/>
            <div class="d-flex">
            <h5 class="text-center oswald">First Name:</h5>
            {{superinfo.fname}}
            </div>
      </div>
      <div class="col-1">
        </div>
        </div>


      </div>
    </div>
  </div>
</div>
</div>
