<ng-container *ngIf="loaded==false">
<div class="">
<div class="lds-ring centered"><div></div><div></div><div></div><div></div></div>
</div>

</ng-container>


<div *ngIf="loaded">
  <div class="jumbotron2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12  ml-auto  justify-content-center">
          <div class=" align-items-center">
            <h2 class="text-center oswald-head">Account Details</h2>
            <br />
          </div>

          <hr />
          <div class="d-flex">
            <div class="col-2">

            </div>
            <div class="col-md-8 justify-content-center">
              <h4 class="text-center oswald">SuperUser Details</h4>
              <br />
              <div class="card">
                <h4 class="card-header text-center">Personal Details</h4>
                <div class="d-flex justify-content-center">

                  <div class="col-6">
                    <br />
                    <div class="d-flex justify-content-center">
                      <h5 class="text-center">First Name:&nbsp;</h5>
                      <h5 class="text-center">{{superinfo.fname}}</h5>
                    </div>
                    <br />
                    <div class="d-flex justify-content-center">
                      <h5 class="text-center">Last Name:&nbsp;</h5>
                      <h5 class="text-center">{{superinfo.lname}}</h5>
                    </div>
                    <br />
                  </div>
                  <div class="col-6" style="border-left: grey solid 1px;">
                    <br />
                    <div class="d-flex justify-content-center">
                      <h5 class="text-center">Email:&nbsp;</h5>
                      <h5 class="text-center">{{superinfo.email}}</h5>
                    </div>
                    <br />
                    <div class="d-flex justify-content-center">
                      <h5 class="text-center">Telephone:&nbsp;</h5>
                      <h5 class="text-center">{{superinfo.telephone}}</h5>
                    </div>
                    <br />
                  </div>


                </div>
                <br />
                <div class="justify-content-center">
                  <h5 class="text-center">Password: **********</h5>
                  <p class="text-center"><a routerLink="password">Change Password</a></p>
                </div>

                <h4 class="card-header text-center">Company Details</h4>
                <div class="d-flex justify-content-center">

                  <div class="col-6">
                    <br />
                    <div class="d-flex justify-content-center">
                      <h5 class="text-center">Address:&nbsp;</h5>
                      <h5 class="text-center">{{superinfo.address}}</h5>
                    </div>
                    <br />
                    <div class="d-flex justify-content-center">
                      <h5 class="text-center">Last Name:&nbsp;</h5>
                      <h5 class="text-center">{{superinfo.lname}}</h5>
                    </div>
                    <br />
                  </div>
                  <div class="col-6" style="border-left: grey solid 1px;">
                    <br />
                    <div class="d-flex justify-content-center">
                      <h5 class="text-center">Email:&nbsp;</h5>
                      <h5 class="text-center">{{superinfo.email}}</h5>
                    </div>
                    <br />
                    <div class="d-flex justify-content-center">
                      <h5 class="text-center">Telephone:&nbsp;</h5>
                      <h5 class="text-center">{{superinfo.telephone}}</h5>
                    </div>
                    <br />
                  </div>

                </div>
                <br />
                <div class="justify-content-center">
                  <h5 class="text-center">SubUsers:&nbsp;</h5>
                  <ng-container *ngIf="superinfo.subusers.length==0; else notempty">
                    <ul>
                      <li>
                      No SubUsers
                      </li>
                    </ul>
                  </ng-container>
                  <ng-template *notempty>
                  <ul>
                    <li *ngFor="let sub of superinfo.subusers; let i = index">
                      {{ sub }}
                    </li>
                  </ul>
                  </ng-template>
                </div>
              </div>
            </div>
            <div class="col-2">
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
