<div *ngIf="loaded">
  <form [formGroup]="saqForm" layout-align="center center" class="card text-center justify-content-center" (ngSubmit)="onSubmit()">
    <h2 class="card-header oswald-head  text-center">
      Please Fill Out All Fields
    </h2>
    <div class="form-group card-body justify-content-center">

      <!-- <input type="text" formControlName="fname" placeholder="First Name"  class="form-control form-control-lg"  [ngClass]="{ 'is-invalid': submitted && form.fname.errors }" />
    <div *ngIf="form.fname.errors" class="invalid-feedback">
      <div *ngIf="form.fname.errors.required">Answer is required</div>
    </div> -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col" width="15%">ID</th>
            <th scope="col" width="50%">Question</th>
            <th scope="col" width="35%">Answer</th>

          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let item of questions; let i = index">

            <ng-container *ngIf="item.answers.length == 1; else empty">
              <th scope="row"></th>
              <td class="form-header">{{item.questiontext}}</td>
              <td></td>
            </ng-container>

            <ng-template #empty>
              <th scope="row">{{item._id}}</th>
              <td>{{item.questiontext}}</td>
              <td>
                <div class="d-flex">
                <ng-container *ngFor="let answer of item.answers; let i = index" class="row">
                  <ng-container *ngIf="i==1; else rest">
                    <div class="col-4">
                          <label [for]="answer">{{answer}}<br/>
                                <input type="radio" [formControlName]="item._id" value="answer">
                            </label>
                    </div>
                  </ng-container>
                    <ng-template #rest>
                      <div class="col-2">
                            <label [for]="answer">{{answer}}<br/>
                                  <input type="radio" [formControlName]="item._id" value="answer">
                              </label>
                      </div>
                    </ng-template>

                </ng-container>
                </div>
              </td>
            </ng-template>
            <!-- <label [for]="item._id">{{item.questiontext}}</label
      <input type="radio" [formControlName]="item._id"     [ngClass]="" /> -->
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Fix so routing has auth guard-->
    <div class="form-group">
      <button class="btn btn-main">Register</button>

    </div>
  </form>
</div>
