/*font-family: 'Oswald', sans-serif;*/
/*font-family: 'Cabin', sans-serif;*/
.nav !important{
  width: 100%;
  	float: left;
  	margin: 0 0 1em 0;
  	padding: 0;
}



.white-text{
color: #FFFFFF;
}

.dark-text{
color: #000000;
}
.oswald-item{
font-family: 'Oswald', sans-serif;
font-size: 24px;
}

.oswald-nav{
font-size: 32px;
font-family: 'Oswald', sans-serif;
}
.logo{
  max-height: 28px;
}
