<nav class="navbar navbar-expand-lg main">

  <h3 class="navbar-brand white-text oswald-nav">
    <span><img routerLink="/home" class="logo" src=".././assets/placeholder.png" alt="">
      </span></h3>
  <button class="navbar-toggler white-text" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon white-text"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav  ml-auto">
      <li class="nav-item">
        <a class="nav-link dark-text oswald-item" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link dark-text oswald-item" routerLink="/home">Wiki</a>
      </li>
      <li class="nav-item">
        <a class="nav-link dark-text oswald-item" routerLink="/account">Account</a>
      </li>
    </ul>

  </div>
</nav>

<router-outlet></router-outlet>
