<div class="jumbotron3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 d-flex ml-auto justify-content-center">
        <div class=" align-items-center">
          <h1 class="text-center oswald-head">Choose SAQ</h1> <br />
          <div class="container text-center">
            <div class="card-columns">
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title oswald">SAQ A</h5>
                  <p class="card-text cabin"></p>
                  <div class="justify-content-center text-center"> <button class="btn btn-acclight" id="regbutton" routerLink="saq/a" routerLinkActive="active">SAQ A Portal</button> </div>
                </div>
              </div>
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title oswald">SAQ BIP</h5>
                  <p class="card-text cabin"></p>
                  <div class="justify-content-center text-center"> <button class="btn btn-acclight" id="regbutton" routerLink="saq/bip" routerLinkActive="active">SAQ BIP Portal</button> </div>
                </div>
              </div>
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title oswald">SAQ P2PE</h5>
                  <p class="card-text cabin"></p>
                  <div class="justify-content-center text-center"> <button class="btn btn-acclight" id="regbutton" routerLink="saq/p2pe" routerLinkActive="active">SAQ P2PE Portal</button> </div>
                </div>
              </div>
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title oswald">SAQ AEP</h5>
                  <p class="card-text cabin"></p>
                  <div class="justify-content-center text-center"> <button class="btn btn-acclight" id="regbutton" routerLink="saq/aep" routerLinkActive="active">SAQ AEP Portal</button> </div>
                </div>
              </div>
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title oswald">SAQ C</h5>
                  <p class="card-text cabin"></p>
                  <div class="justify-content-center text-center"> <button class="btn btn-acclight" id="regbutton" routerLink="saq/c" routerLinkActive="active">SAQ C Portal</button> </div>
                </div>
              </div>
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title oswald">SAQ D Merchant</h5>
                  <p class="card-text cabin"></p>
                  <div class="justify-content-center text-center"> <button class="btn btn-acclight" id="regbutton" routerLink="saq/d_merchant" routerLinkActive="active">SAQ D Merchant Portal</button> </div>
                </div>
              </div>
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title oswald">SAQ B</h5>
                  <p class="card-text cabin"></p>
                  <div class="justify-content-center text-center"> <button class="btn btn-acclight" id="regbutton" routerLink="saq/b" routerLinkActive="active">SAQ B Portal</button> </div>
                </div>
              </div>
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title oswald">SAQ CVT</h5>
                  <p class="card-text cabin"></p>
                  <div class="justify-content-center text-center"> <button class="btn btn-acclight" id="regbutton" routerLink="saq/cvt" routerLinkActive="active">SAQ CVT Portal</button> </div>
                </div>
              </div>
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title oswald">SAQ D Service</h5>
                  <p class="card-text cabin"></p>
                  <div class="justify-content-center text-center"> <button class="btn btn-acclight" id="regbutton" routerLink="saq/d_service" routerLinkActive="active">SAQ D Service Portal</button> </div>
                </div>
              </div>
            </div>
          </div>
          <div class="justify-content-center text-center"> <br />
            <h5 class="card-title oswald">Complete Compensating Control Worksheets</h5> <button class="btn btn-acclight" routerLink="../pci/ccw" routerLinkActive="active">CCW Portal</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
