<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 d-flex ml-auto  justify-content-center">
        <div class=" align-items-center">

        <div *ngIf="get == false && create == false; else elseBlock">
            <button type="button" (click)="createState()" class="btn-lg btn-outline-primary">Fill Out Form</button>
            <button type="button" (click)="getState()" class="btn-lg btn-outline-success">Get Form</button>
        </div>

        <ng-template #elseBlock>
              <button type="button" (click)="goBack()" class="btn-lg btn-outline-primary">Go Back</button>
              <div *ngIf="get == false && create == true">
                fillform
              </div>
              <div *ngIf="get == true && create == false">
                getform
              </div>
        </ng-template>
        </div>
      </div>
    </div>
  </div>
