<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 d-flex ml-auto  justify-content-center">
      Welcome To SNC
      <!-- Come back and format mockbutton CSS
      .button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
      }-->
        <button routerLink="/login" routerLinkActive="active" class="mockButton">Log In</button>
        <button routerLink="/register" routerLinkActive="active" class="mockButton">Register</button>
    </div>
  </div>
</div>
